@import "./source/src/import";
@import "./source/addons/import";

.theme-dark, 
.theme-light, 
:root {
    --background-primary: #25294a !important;
    --background-secondary: #202442 !important;
    --background-secondary-alt: #2d325a !important;
    --background-tertiary: #1b1f38 !important;
    --background-accent: var(--background-secondary) !important;
    --background-extra: #e2e4f0;
    --background-extra-alt:#3a4070;
    --background-floating: var(--background-tertiary) !important;
    --background-modifier-hover: var(--background-secondary-alt) !important;	
    --background-modifier-active: rgba(45, 50, 90, 0.418) !important;
    --background-modifier-selected: var(--background-secondary-alt) !important;	
    --background-modifier-accent: hsla(0,0%,100%,0.06) !important;
    --channeltextarea-background: var(--background-secondary) !important;
    --focus-primary: rgba(0, 0, 0, 0.219) !important;
    --deprecated-card-bg: rgba(0, 0, 0, 0.2) !important;
    --deprecated-card-editable-bg: rgba(0,0,0,0.1) !important;
    --deprecated-text-input-border-disabled: var(--background-tertiary) !important;
    --activity-card-background: var(--background-primary) !important;
    --channels-default: var(--background-extra) !important;
    --text-muted: var(--background-extra) !important;
    --text-normal: #e8eaf8 !important;
    --interactive-normal: #ffffff !important;
    --interactive-hover: var(--background-extra) !important;
    --interactive-active: var(--text-normal) !important;
    --interactive-muted: #4d517e !important;
    --header-secondary: #c9c9c9 !important;
    --toast-background: var(--background-primary) !important;
    --toast-header: var(--background-tertiary) !important;
    --toast-contents: var(--background-secondary) !important;
    --toast-box-shadow: rgba(0, 0, 0, .2) !important;
    --toast-border: var(--background-tertiary) !important;
    --background-mentioned-hover: #383d6836 !important;
    --background-mentioned:#383d685e;
    --header-primary: var(--background-extra) !important;
    --border-radius:18px;
}