.chat-3bRxxu{
    background-color: transparent;
    .container-1r6BKw{
        background-color: var(--background-primary);
        border-radius: var(--border-radius);
        max-height: 40px;
        max-width: 1095px;
        .children-19S4PO{
            .title-29uC1r{
                font-size: 18px;
                text-transform: capitalize;
            }
            &::after,
            .divider-3FBTu8,
            .topic-TCb_qw,
            .akaBadge-1M-1Gw,
            .nicknames-1XK4Zt{
                display: none;
            }
        }
        .toolbar-1t6TWx{
            .iconWrapper-2OrFZ1:last-child,
            .iconWrapper-2OrFZ1[aria-label="Start Video Call"]{
                display: none;
            }
        }
    }
    .content-yTz4x3{
        margin-top: 20px;
        margin-bottom: 20px;
        &::before{
            display: none;
        }
        .chatContent-a9vAAp{
            background-color: var(--background-primary);
            border-radius: var(--border-radius);
            margin-right: 20px;
            .cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
                background-color: var(--background-secondary-alt);
                display: inline-block;
                max-width: 650px;
                margin: 0;
                padding: 5px 10px ;
                border-radius: 15px;
                position: relative;
                overflow: visible;
            }
            .newMessagesBar-265mhP{
                top:10px;
                border-radius: var(--border-radius);
                background-color: var(--background-tertiary);
                padding: 3px;
                box-shadow: none;
                opacity: 1;
            }
            .jumpToPresentBar-G1R9s6{
                position: absolute;
                bottom:16px;
                max-height: 20px;
                border-radius: var(--border-radius);
                padding: 5px 3px;
                opacity: 1;
                background-color: var(--background-tertiary);
            }
            .scroller-2LSbBU{
                border-radius: 20px;
            }
        }
        .membersWrap-2h-GB4{
            margin-right: 20px;
            .members-1998pB{
                background-color: var(--background-primary);
                border-radius: var(--border-radius);

                div{
                    background-color: transparent;
                }
            }
            .layout-2DM8Md:hover{
                border-radius: 20px;
            }
            ::-webkit-scrollbar{
                display: none;
            }
        }
        .form-2fGMdU{
            .scrollableContainer-2NUZem{
                background-color: var(--background-secondary-alt);
                border-radius: 25px;
                border:solid 2px var(--background-secondary);

                &:hover{
                    animation: border-flash 2s linear infinite;
                }
            }
        }
        .scroller-11cdZM{
            background-color: var(--background-primary);
            border-radius: var(--border-radius);
            margin-right: 20px;
        }
        .container-2fRDfG{
            position: relative;
            bottom:5px;
            background-color: var(--background-tertiary);
            border-radius: var(--border-radius);
        }
    }
}
.applicationStore-1pNvnv{
    border-radius: var(--border-radius);
    margin-right: 20px;
    margin-bottom: 20px;
}
.theme-dark .container-1D34oG{
    background-color: transparent;
    margin-bottom: 20px;
    margin-right: 20px;
    .container-1r6BKw.themed-ANHk51{
        border-radius: var(--border-radius);
        max-height:40px;
        width:auto;
    }
    .tabBody-3YRQ8W{
        &::before{
            display: none;
        }
        .peopleList-3c4jOR{
            background-color: var(--background-primary);
            margin-top: 20px;
            margin-right: 20px;
            border-radius: var(--border-radius);
        }
        .nowPlayingColumn-2sl4cE{
            background-color: var(--background-primary);
            margin-top: 20px;
            border-radius: var(--border-radius);
            .wrapper-3D2qGf{
                background-color: var(--background-secondary-alt);
                border-radius: var(--border-radius);
                .body-1ld4H7{
                    border-radius: 20px;
                    background-color: var(--background-secondary);
                }
            }
        }
    }
}