.root-SR8cQa{
    background-color: var(--background-primary);
    border-radius: var(--border-radius);
    min-width:800px;
    .topSectionNormal-2-vo2m,
    .topSectionPlaying-1J5E4n,
    .topSectionSpotify-1lI0-P{
        background-color: transparent;
        .header-QKLPzZ{
            background-color: var(--background-secondary-alt);
            border-radius: var(--border-radius);
            margin: 10px;
            .lookInverted-2D7oAl.colorBrand-3pXr91,
            .lookInverted-2D7oAl.colorGreen-29iAKY{
                background-color: var(--background-secondary);
                border-radius: var(--border-radius);
                color:#fff;

                &:hover{
                    background-color: var(--background-tertiary);
                }
            }
            .additionalActionsIcon-1FoUlE{
                opacity: 99%;
                transition: 250ms ease all;

                &:hover{
                    opacity: 38%;
                }
            }
        }
        .headerFill-adLl4x{
            background-color: transparent;
        }
        .tabBarContainer-1s1u-z{
            background-color: var(--background-secondary-alt);
            border-radius:var(--border-radius);
            margin:20px 10px 0 10px;
            border: none;
        }
    }
    .body-3ND3kc{
        background-color: var(--background-secondary-alt);
        border-radius: var(--border-radius);
        margin: 10px;

        ::-webkit-scrollbar{
            display: none;
        }
        .textarea-2r0oV8{
            border-radius: var(--border-radius);
        }
    }
}

// Notification Settings
.layer-2KE1M9{
    .focusLock-Ns3yie{
        .root-1gCeng{
            border-radius: var(--border-radius);
            background-color: var(--background-primary);
            .footer-2gL1pp{
                background-color: var(--background-primary);
                box-shadow: none;
                .lookFilled-1Gx00P.colorBrand-3pXr91{
                    background-color: var(--background-tertiary);

                    &:hover{
                        background-color: var(--background-secondary-alt);
                    }
                }
            }
        }
    }
}

// Search
.quickswitcher-3JagVE{
    border-radius: var(--border-radius);
    .input-2VB9rf{
        background-color: var(--background-secondary-alt);
        border-radius: var(--border-radius);
    }
    .resultFocused-3aIoYe{
        background-color: var(--background-tertiary);
        border-radius: var(--border-radius);
    }
}