//Main//
.backdrop-1wrmKB, .backdropWithLayer-3_uhz4{
    backdrop-filter: blur(5px);
}

//User popouts//
.userPopout-3XzG_A{
    background-color: transparent;
    box-shadow: none;
    border-radius: var(--border-radius);
    .header-2BwW8b{
        background-color: #3a4177;
        margin-bottom: 20px;
        border-radius: var(--border-radius);
        .activity-11LB_k{
            background-color: transparent;
        }
    }
    .body-3iLsc4{
        background-color: #3a4177;
        border-radius: 18px 18px 0 0;
        .textarea-2r0oV8{
            border-radius: var(--border-radius);
        }
    }
    .footer-1fjuF6{
        background-color: #3a4177;
        border-radius: 0 0 20px 20px;
        .input-cIJ7To{
            border-radius: var(--border-radius);

            &:focus-within{
                border-color: black;
            }
        }
    }
}

//Menu//
.menu-3sdvDG{
    background: var(--background-secondary-alt);
    border-radius: var(--border-radius);
    .colorDefault-2K3EoJ.focused-3afm-j{
        background-color: var(--background-tertiary);
        border-radius: var(--border-radius);
    }
}
//Search Results//
.searchResultsWrap-3-pOjs{
    margin-left: 20px;
    background-color: transparent;
    .searchHeader-2XoQg7{
        background-color: var(--background-primary);
        border-radius: var(--border-radius);
        .tab-2j5AEF{
            background-color: var(--background-secondary-alt);
            border-radius: var(--border-radius);

            &:hover{
                background-color: var(--background-tertiary);
                transition: 250ms ease;
            }
        }
    }
    .scroller-3GIiMh{
        margin-top: 20px;
        background-color: var(--background-primary);
        border-radius: var(--border-radius);
    }
    .roundButton-CEHyUp{
        background-color: var(--background-tertiary);

        &:hover{
            background-color: var(--background-secondary-alt);
            transition: 250ms;
        }
    }
}
//Searching//
.theme-dark .elevationBorderHigh-2WYJ09{
    box-shadow: none;
}
.container-3ayLPN{
    background-color: transparent !important;
    box-shadow: none;
    border-radius: var(--border-radius);
    .resultsGroup-r_nuzN{
         background-color: var(--background-secondary-alt);
        border-radius: var(--border-radius);
        box-shadow: none;
        margin-bottom: 20px;

        &:before{
            display: none;
        }
    }
}
.theme-dark .option-96V44q.selected-rZcOL-{
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius);
}
.theme-dark .option-96V44q:after{
    display: none;
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker{
    background-color: var(--background-secondary-alt);
    border-radius: var(--border-radius);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day,
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:first-of-type,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day,
.calendarPicker-2yf6Ci .react-datepicker__week:first-of-type>.react-datepicker__day:last-of-type{
    border-radius: var(--border-radius);
    background-color: var(--background-secondary-alt);
    border:solid 1px var(--background-tertiary);
    margin-left: 0px;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover{
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after{
    background-color: var(--background-secondary-alt);
    border-radius: var(--border-radius);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header{
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius);
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous{
    border-radius: var(--border-radius);
    background-color: var(--background-secondary-alt);
}
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw{
    position: relative;
    right:20px;
    background-color: var(--background-secondary-alt);
    border-radius: var(--border-radius);
    width:320px
}
.theme-dark .queryContainer-RKFJW-{
    background-color: var(--background-secondary-alt);
    border-radius: var(--border-radius);
    margin-bottom: 20px;
}

//Select Friends//
.root-1gCeng{
    background-color: transparent !important;
    box-shadow: none !important;
    .header-1TKi98{
        background-color: var(--background-secondary-alt);
        border-radius: var(--border-radius);
        margin-bottom: 20px;
    }
    .noResults-ZTbl5V, .scroller-hUf6zQ{
        background-color: var(--background-secondary-alt);
        border-radius: 18px 18px 0 0;
    }
    .friend-3KALPe:hover,
    .friendWrapper-2SrUFF:hover,
    .friendSelected-1sa4bG,
    .container-2XeR5Z{
        background-color: var(--background-tertiary);
        border-radius: 25px;
    }
    .theme-dark .friendSelected-1sa4bG{
        background-color: var(--background-tertiary);
    }
    .footerSeparator-M9dQY1{
        display: none;
    }
    .footer-1eyGBa{
        background-color: var(--background-secondary-alt);
        border-radius: 0 0 18px 18px;
        .lookFilled-1Gx00P.colorBrand-3pXr91:disabled{
            background-color:var(--background-secondary);
            border-radius: 20px;
        }
    }
}
//Inbox//
.messagesPopoutWrap-1MQ1bW{
    background-color: transparent;
    box-shadow: none;
    height:500px;
    .header-2-Imhb{
        background-color: var(--background-secondary-alt);
        border-radius: var(--border-radius);
        margin-bottom: 20px;
    }
    .messagesPopout-24nkyi{
        background-color: var(--background-secondary-alt);
        border-radius: var(--border-radius);
        border:solid 15px var(--background-secondary-alt);
    }
    ::-webkit-scrollbar{
        display: none;
    }
}

//Pinned Mesages//
.header-ykumBX{
    background-color: var(--background-secondary-alt);
    border-radius: var(--border-radius);
    margin-bottom: 10px;
    box-shadow: none;
}
.footer-1kmXd4{
    background-color: var(--background-secondary-alt);
    border-radius: var(--border-radius);
    margin-top: 15px;
}