//Main//
.backdrop-1wrmKB, .backdropWithLayer-3_uhz4{
    backdrop-filter: blur(5px);
}

//User popouts//
.userPopout-3XzG_A{
    background-color: transparent;
    box-shadow: none;
    border-radius: var(--border-radius);
    .header-2BwW8b{
        background-color: #3a4177;
        margin-bottom: 20px;
        border-radius: var(--border-radius);
        .activity-11LB_k{
            background-color: transparent;
        }
    }
    .body-3iLsc4{
        background-color: #3a4177;
        border-radius: 18px 18px 0 0;
        .textarea-2r0oV8{
            border-radius: var(--border-radius);
        }
    }
    .footer-1fjuF6{
        background-color: #3a4177;
        border-radius: 0 0 20px 20px;
        .input-cIJ7To{
            border-radius: var(--border-radius);

            &:focus-within{
                border-color: black;
            }
        }
    }
}



.searchResultsWrap-3-pOjs{
    margin-left: 20px;
    background-color: transparent;
    border-radius: var(--border-radius);
    .searchHeader-2XoQg7{
        background-color: var(--background-secondary-alt);
        border-radius: var(--border-radius);
        margin-bottom: 20px;
    }
    .scroller-3GIiMh{
        background-color: var(--background-secondary-alt);
        border-radius: var(--border-radius);
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .roundButton-CEHyUp{
        background-color: var(--background-secondary);

        &:hover{
            background-color: var(--background-primary);
            transition: 250ms;
        }
    }
}

//Menu//
.menu-3sdvDG{
    background: var(--background-secondary-alt);
    border-radius: var(--border-radius);
    .colorDefault-2K3EoJ.focused-3afm-j{
        background-color: var(--background-tertiary);
        border-radius: var(--border-radius);
    }
}
//Select Friend//
.popout-103y-5{
    border-radius: var(--border-radius);
    background-color: var(--background-secondary-alt) !important;
    .lookFilled-1Gx00P.colorBrand-3pXr91{
        background-color: var(--background-tertiary);
        border-radius: var(--border-radius);
    }
    .container-2XeR5Z{
        border-radius: var(--border-radius);
    }
}
//Search and Search Results//
.container-3ayLPN{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--border-radius);
}
.theme-dark .option-96V44q.selected-rZcOL-{
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius);
}
.theme-dark .option-96V44q:after{
    display: none
}
//Upload Modal//
.uploadModal-2ifh8j{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--border-radius);
}
.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC{
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
    margin: 10px;
    .lookFilled-1Gx00P.colorBrand-3pXr91{
        background-color: var(--background-secondary-alt);
        border-radius: var(--border-radius);

        &:hover{
            background-color: var(--background-tertiary);
        }
    }
}

//Nitro//
.small-3iVZYw{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--border-radius);
}
.children-rWhLdy{
    .lookFilled-1Gx00P.colorBrand-3pXr91{
        background-color: var(--background-primary);
        border-radius: var(--border-radius);

        &:hover{
            background-color: var(--background-tertiary);
        }
    }
}
.form-77IDep{
    .footer-2gL1pp{
        background-color: var(--background-secondary);
        border-radius: var(--border-radius);
        margin: 10px;
    }
    .lookOutlined-3sRXeN.colorBrand-3pXr91{
        border-radius: var(--border-radius);
    }
}
.small-3iVZYw{
    .footer-2gL1pp{
        background-color: var(--background-secondary);
        border-radius: var(--border-radius);
        margin: 10px;
        box-shadow: none;
        .lookFilled-1Gx00P.colorBrand-3pXr91,
        .lookFilled-1Gx00P.colorGrey-2DXtkV{
            border-radius: var(--border-radius);
            background-color: var(--background-secondary-alt);

            &:hover{
                background-color: var(--background-primary);
            }
        }
    }
}
//Mention//
.autocomplete-3l_oCd{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--border-radius);
    .selected-1Tbx07{
        background-color: var(--background-tertiary) !important;
        border-radius: var(--border-radius);
    }
}