.base-3dtUhz{
    left:70px;
 }
.wrapper-1Rf91z{
    left:13px;
 .scroller-2TZvBN{
     padding-top:15px;
     margin-bottom: 20px;
     background-color: var(--background-primary);
     border-radius: var(--border-radius);
    }
    .circleIconButton-jET_ig{
        background-color: var(--background-tertiary);
     }
     .circleIconButton-jET_ig{
         color:var(--background-extra);
     }
     .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9{
         background-color: var(--background-secondary-alt);
     }
     .guildSeparator-3s64Iy{
         width:50px;
     }
     .childWrapper-anI2G9{
         background-color: var(--background-tertiary);
    }
    
}
.unreadMentionsIndicatorBottom-BXS58x{
    position: absolute;
    left:-4px;
    width:80px;
    .mention-1f5kbO{
        background-color: var(--background-extra);
        color:black;
        opacity: 1;
    }
}
