.base-3dtUhz{
    left:85px;
 }
.wrapper-1Rf91z{
    left:13px;
    margin-bottom: 20px;
 .scroller-2TZvBN{
     padding-top:15px;
     background-color: var(--background-primary);
     border-radius: var(--border-radius);
    }
    .circleIconButton-jET_ig{
        background-color: var(--background-tertiary);
     }
     .circleIconButton-jET_ig{
         color:var(--background-extra);
     }
     .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9{
         background-color: var(--background-secondary-alt);
     }
     .guildSeparator-3s64Iy{
         width:50px;
     }
     .childWrapper-anI2G9{
         background-color: var(--background-tertiary);
    }
    .bar-30k2ka{
        opacity: 1;
    }
}