.sidebar-2K8pFh{
    background-color: transparent;
    border-radius:18px 0 0 0 ;
    width:300px;
    margin: 0 0 0 35px;
    .privateChannels-1nO12o{
        background-color: transparent;
        border-radius: 18px 0 18px 18px;
        .searchBar-6Kv8R2{
            background-color: var(--background-primary);
            border-radius: 0 0 0 18px;
            box-shadow: none;
            margin-bottom: 20px;
            height:40px;
            .searchBarComponent-32dTOx{
                border-radius: var(--border-radius);
            }
        }
        .scroller-1JbKMe{
            background-color: var(--background-primary);
            border-radius: var(--border-radius);
            .channel-2QD9_O{
                margin-top: 6px;
            }
        }

        ::-webkit-scrollbar{
            display: none;
        }
    }
    .container-3w7J-x{
        background-color: transparent;
        border-radius: var(--border-radius);
        .container-1taM1r,
        .header-2V-4Sw{
            background-color: var(--background-primary);
            border-radius: 18px 0 0 18px;
            height:40px;
            box-shadow: none;
            margin-bottom: 20px;
        }
        .animatedContainer-1NSq4T{
            position: absolute;
            top:15px;
            border-radius: 18px 0 0 0;
            box-shadow: none;
            z-index: 1;
            .bannerImage-3KhIJ6{
                width:300px;
            }
        }
        .scroller-RmtA4e{
            background-color: var(--background-primary);
            border-radius: var(--border-radius);

            &::-webkit-scrollbar{
                display: none;
            }
            .content-3YMskv{
                overflow: scroll hidden;
            }
        }
    }
    .panels-j1Uci_{
        background-color: var(--background-primary);
        border-radius: var(--border-radius);
        margin-top: 20px;
        .container-3baos1{
            background-color: var(--background-primary);
            border-radius: var(--border-radius);
        }
    }
}