.sidebar-2K8pFh{
    background-color: var(--background-tertiary);
    margin-right: 15px;
    margin-left: 30px;
    margin-bottom: 20px;
    border-radius: var(--border-radius) !important;
    width:300px;
    .scroller-1JbKMe,
    .container-3w7J-x{
        background-color: var(--background-primary);
    }
    .bannerImage-3KhIJ6{
        width: 300px;
    }
    .searchBar-6Kv8R2{
        display: none;
    }
    .containerDefault--pIXnN, .containerDragAfter-3Fp7LC, .containerDragBefore-3iTCc7, .containerUserOver-2mv1jO{
        padding-top: 10px;
        max-width: 290px;
    }
    .scroller-RmtA4e{
        margin-bottom: 0;
    }
    .panels-j1Uci_{
        position: relative;
        margin-bottom:2px;
        background-color: var(--background-primary);
        border-radius: var(--border-radius);
        width:300px;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .privateChannels-1nO12o,
    .container-3w7J-x{
        margin-bottom: 15px;
        border-radius: var(--border-radius);
    }
    .categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG{
        background-color: var(--background-secondary-alt);
        border-radius: var(--border-radius);
    }
    .container-2Pjhx-,
    .clickable-1JJAn8:hover .layout-2DM8Md{
        border-radius: var(--border-radius);
    }
}
