.sidebar-2K8pFh,
.platform-win .sidebar-2K8pFh{
    width:300px;
    border-radius: var(--border-radius);
    background: transparent;
    margin:0 20px 20px 35px;
    .privateChannels-1nO12o{
        margin-bottom: 20px;
        border-radius: var(--border-radius);
        .searchBar-6Kv8R2{
            display: none;
        }
        .scroller-1JbKMe{
            background-color: var(--background-primary);
            .channel-2QD9_O{
                margin-top: 10px;
                .layout-2DM8Md{
                    position: relative;
                    right:8px;
                    border-radius: 0px 20px 20px 0px;
                }
            }
            .selected-aXhQR6 .layout-2DM8Md{
                background-color: var(--background-tertiary);
            }
        }
    }
    .container-3w7J-x{
        border-radius: var(--border-radius);
        background-color: var(--background-primary);
        .scroller-RmtA4e{
            border-radius: 0px 0px 20px 20px;
        }
        .bannerImage-3KhIJ6{
            width: 300px;
        }
    }
    .panels-j1Uci_{
        margin-top: 20px;
        border-radius: var(--border-radius);
        background-color: var(--background-primary);
        .container-3baos1{
            background-color: var(--background-primary);
            border-radius: var(--border-radius);
        }
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .unread-1xRYoj{
        background-color: var(--background-tertiary);
        opacity: 1;
    }
}   