.container-3w7J-x{
    background-color: transparent;
    .header-2V-4Sw{
        background-color: var(--background-primary);
        height:40px;
    }
    .scroller-RmtA4e{
        background-color: var(--background-primary);
        border-radius: var(--neb-border-radius1);
        margin: var(--margin) 0 var(--margin) var(--margin);
    }
}