.channel-2QD9_O{
    max-width: 303px;
    margin-top: 10px;
    .layout-2DM8Md{
        border-radius: var(--neb-border-radius1);
        transition: 250ms ease all;
    }
}
.selected-aXhQR6 .layout-2DM8Md{
    border-radius: var(--neb-border-radius1);
    background-color: var(--background-tertiary);
    border-bottom:solid 2px var(--background-secondary);
}