.panels-j1Uci_{
    position: absolute;
    max-width: var(--neb-sidebar-width);
    background-color:transparent;
    border-radius: var(--neb-border-radius1);
    margin-bottom: var(--margin);
    z-index: 101;
    left:1300px;
    height:var(--neb-topbar-height);
    .container-3baos1{
        display: flex;
        flex-direction: row-reverse;
        border-radius: var(--neb-border-radius1);
        background-color: transparent;
        height:var(--neb-topbar-height);
        .nameTag-3uD-yy{
            display: none;
        }
    }
}
.disabledPointerEvents-1ptgTB[style*="bottom"],
.disabledPointerEvents-1ptgTB[style*="top"] {
    display: none;
}