//Round Buttons and button changes//
.app-2rEoOp button{
    border-radius: 20px;
}
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorBrand-3pXr91{
    border-radius: var(--border-radius);
    background-color: var(--background-secondary);

    &:hover{
        background-color: var(--background-tertiary);
    }
}

//Action Menu changes//
.menu-3sdvDG{
    border-radius: var(--border-radius);
    background-color: var(--background-secondary-alt);
    .colorDefault-2K3EoJ.focused-3afm-j{
        background-color: var(--background-tertiary);
        border-radius: var(--border-radius);
    }
    .button-F9qN4n:hover{
        background-color: var(--background-primary);
    }
}

//User Profile changes//
.userPopout-3XzG_A{
    box-shadow: none;
    .header-2BwW8b{
        background-color: var(--background-secondary);
        border-radius: var(--border-radius);
        margin-bottom: 20px;
    }
    .body-3iLsc4{
        background-color: var(--background-secondary);
        border-radius: 20px 20px 0 0;
    }
    .lookOutlined-3sRXeN.colorWhite-rEQuAQ{
        border-radius: var(--border-radius);
    }
    .footer-1fjuF6{
        background-color: var(--background-secondary);
        border-radius: 0 0 20px 20px;
        .input-cIJ7To{
            border-radius: var(--border-radius);

            &:focus-within{
                border-color: var(--background-secondary-alt);
            }
        }
    }
}

//Search Changes//
.theme-dark .container-3ayLPN,
.container-3ayLPN{
    background: var(--background-secondary-alt);
    border-radius:var(--border-radius);
}
.theme-dark .option-96V44q.selected-rZcOL-{
    background-color: var(--background-tertiary);
    border-radius: var(--border-radius);
}
.theme-dark .option-96V44q:after{
    display: none;
}
.theme-dark .focused-2bY0OD{
    background-color: var(--background-secondary-alt);
    border:none;
}
//Search Results//
.searchResultsWrap-3-pOjs{
    background-color: transparent;
    margin-right: 20px;
    .searchHeader-2XoQg7{
        background-color: var(--background-primary);
        margin-bottom: 20px;
        border-radius: var(--border-radius);
        .tab-2j5AEF{
            border-radius: var(--border-radius);
        }
    }
    .scroller-3GIiMh{
        background-color: var(--background-primary);
        border-radius: var(--border-radius);
        .roundButton-CEHyUp{
            background-color: var(--background-primary);

            &:hover{
                background-color:var(--background-tertiary);
                transition: 250ms ease;
            }
        }
    }
    ::-webkit-scrollbar{
        display: none;
    }
}
//Modal Fixes and changes//
.theme-dark .root-1gCeng{
    background-color: var(--background-primary);
    border-radius: var(--border-radius);
}
.theme-dark .footer-2gL1pp{
    background-color: var(--background-primary);
    box-shadow: none;
    border-radius: var(--border-radius);
}
.backdropWithLayer-3_uhz4,
.backdrop-1wrmKB, .backdropWithLayer-3_uhz4{
    backdrop-filter: blur(5px);
}
.input-cIJ7To{
    border-radius: var(--border-radius);

    &:focus-within{
        border-color: var(--background-secondary-alt);
    }
}

//Settings Fixes//
.sidebarRegionScroller-3MXcoP .selected-3s45Ha.item-PXvHYJ, .selected-3s45Ha.item-PXvHYJ:hover,
.sidebarRegionScroller-3MXcoP .item-PXvHYJ:hover{
    border-radius: 0 20px 20px 0;
}
.cardWarning-2yPNAa{
    border-radius: var(--border-radius);
}
//Upload Changes//
.theme-dark .uploadModal-2ifh8j{
    background-color: var(--background-secondary-alt);
    box-shadow: none;
    border-radius: var(--border-radius);
}
.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC{
    background-color: var(--background-primary);
    border-radius: var(--border-radius);
    margin: 20px;
    box-shadow: none;
}
//Mention//
.theme-dark .autocomplete-1vrmpx{
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
}
.theme-dark .selected-1Tbx07{
    background-color: var(--background-secondary-alt);
    border-radius: var(--border-radius);
}