.theme-dark .root-1gCeng{
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
    .header-1TKi98{
        border-radius: 18px 18px 0 0;
    }
}
.backdropWithLayer-3_uhz4,
.backdrop-1wrmKB, .backdropWithLayer-3_uhz4{
    backdrop-filter: blur(5px);
}
.footer-2gL1pp{
    background-color: var(--background-primary) !important;
    border-radius: 0 0 15px 15px;
}
.input-cIJ7To{
    border-radius: var(--border-radius);

    &:focus-within{
        border-color: var(--background-extra);
    }
}
.grow-q77ONN, .sizeIcon-1-kvKI,
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.phoneField-38N1bJ{
    border-radius: var(--border-radius);
}
.theme-dark .uploadModal-2ifh8j{
    background-color: var(--background-primary);
}
.theme-dark .footer-3mqk7D{
    background-color: var(--background-secondary);
}
.lookFilled-1Gx00P.colorBrand-3pXr91{
    background-color: var(--background-tertiary);

    &:hover{
        background-color: var(--background-secondary-alt);
    }
}
.theme-dark .container-3ayLPN,
.container-enaOkj,
.messagesPopoutWrap-1MQ1bW,
.theme-dark .selected-1Tbx07,
.colorDefault-2K3EoJ.focused-3afm-j{
    border-radius: var(--border-radius) !important;
    background-color: var(--background-secondary);
}
.option-96V44q,
.listRow-hutiT_{
    border-radius: 30px;
}
.theme-dark .option-96V44q.selected-rZcOL-,
.css-3vaxre-menu{
    background-color: var(--background-secondary-alt) !important;
}
.theme-dark .option-96V44q:after{
    display: none;
}
.theme-dark .autocomplete-1vrmpx,
.categoryHeader-O1zU94,
.message-2qRu38,
.menu-3sdvDG,
.messageGroupWrapper-o-Zw7G,
.theme-dark .modal-yWgWj-{
    border-radius: var(--border-radius);
    background-color: var(--background-secondary-alt)  !important;
}
.userPopout-3XzG_A{
    border-radius: var(--border-radius);
    .headerNormal-T_seeN{
        background-color: var(--background-secondary-alt);
    }
    .body-3iLsc4,
    .footer-1fjuF6 {
        background-color: var(--background-secondary);
    }
}
.item-26Dhrx{
    border-radius: 25px;
}
.colorHeaderPrimary-26Jzh-P,
.contents-18-Yxp{
    color:var(--background-extra)
}
.pageWrapper-1PgVDX{
    background-color: var(--background-primary) !important;
    border-radius: var(--border-radius);
    margin-bottom: 20px;
    margin-right: 20px;

    ::-webkit-scrollbar{
        display: none;
    }
}
.lookInverted-2D7oAl.colorBrand-3pXr91,
.lookFilled-1Gx00P.colorGreen-29iAKY{
    position: relative;
    top:18px;
    left:15px;
    background-color: var(--background-tertiary);

    &:hover{
        background-color: var(--background-secondary);
    }
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O){
    background-color: var(--background-primary);
}
.lookInverted-2D7oAl.colorGreen-29iAKY{
    background-color: var(--background-tertiary);

    &:hover{
        background-color: var(--background-secondary-alt);
    }
}
.theme-dark .authBox-hW6HRx{
    background-color: var(--background-primary);
    border-radius: var(--border-radius);
}
.image-2jyRAK{
    display: none;
}
