//Settings fixes//

/*Buttons*/
.contentColumnDefault-1VQkGM{
    .lookFilled-1Gx00P.colorBrand-3pXr91{
        background-color: var(--background-tertiary);
        border-radius: var(--border-radius);

        &:hover{
            background-color: var(--background-secondary-alt);
        }
    }
}
.lookFilled-1Gx00P.colorYellow-2JqYwt,
.lookFilled-1Gx00P.colorRed-1TFJan,
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookFilled-1Gx00P.colorBrand-3pXr91{
    border-radius: var(--border-radius);
}

/*Slide Bar*/
.barFill-23-gu-{
    background-color: var(--background-tertiary);
}

/*Radio Buttons*/
.item-26Dhrx[aria-checked=true]{
    border-radius: 25px;
    .radioIconForeground-XwlXQN{
        color:var(--background-extra);
    }
}
.item-26Dhrx{
    border-radius: var(--border-radius);
}