.root-SR8cQa{
    background-color: transparent;
    .topSectionPlaying-1J5E4n,
    .topSectionSpotify-1lI0-P,
    .topSectionNormal-2-vo2m{
        background-color: var(--background-primary);
        margin-bottom: 30px;
        border-radius: var(--border-radius);
        .tabBarContainer-1s1u-z{
            background-color: var(--background-secondary-alt);
            border-radius: var(--border-radius);
            position: relative;
            margin: 10px;
            border: none;
        }
        .header-QKLPzZ{
            background-color: var(--background-secondary-alt);
            margin: 10px;
            border-radius: var(--border-radius);
            .profileBadge-2niAfJ{
                color:white;
            }
        }
        .headerFill-adLl4x{
            background-color: var(--background-primary);
            border-radius: var(--border-radius);
        }
    }
    .body-3ND3kc{
        border-radius: var(--border-radius);
        background-color: var(--background-secondary);
        .listRow-hutiT_{
            margin-right: 10px;
        }
        .connectedAccount-36nQx7{
            border-radius: var(--border-radius);
        }

        ::-webkit-scrollbar{
            display: none;
        }
    }
}