.root-SR8cQa{
    border-radius: var(--border-radius);
    background-color: transparent;
    .topSectionNormal-2-vo2m,
    .topSectionPlaying-1J5E4n,
    .topSectionSpotify-1lI0-P{
        background-color: var(--background-primary);
        border-radius: var(--border-radius);
        margin-bottom: 30px;
        .tabBarContainer-1s1u-z{
            background-color: var(--background-secondary-alt);
            border-radius: var(--border-radius);
            margin:10px;
            border: none;
            .top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active{
                border-radius: 0;
            }
        }
        .header-QKLPzZ{
            background-color: var(--background-secondary-alt);
            margin: 10px;
            border-radius: var(--border-radius);
            }
        }
        .headerFill-adLl4x{
            background-color: transparent;
        }
    .body-3ND3kc{
        background-color: var(--background-primary);
        border-radius: var(--border-radius);

        ::-webkit-scrollbar{
            display: none;
        }
        .listRow-hutiT_{
            border-radius: 25px;
            margin-right: 7px;
            .listAvatar-1NlAhb{
                position: relative;
                right:3px;
            }
        }
    }
}