.vz-dashboard-sidebar{
    background-color: var(--background-primary);
    border-radius: 0 0 18px 18px;
    .layout-2DM8Md{
        position: relative;
        right:8px;
        border-radius: 0 18px 18px 0;
        margin-top: 5px;
        transition: 250ms all;

        &:hover{
            background-color: var(--background-secondary);
        }
    }
    .categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG{
        background-color: var(--background-secondary-alt);

        &:hover{
            background-color: var(--background-secondary);
        }
    }
}
.content-98HsJk{
    margin-bottom: 20px;
    .vz-dashboard.perksModal-fSYqOq{
        background-color: var(--background-primary);
        border-radius: var(--border-radius);
        margin-right: 20px;

        ::-webkit-scrollbar{
            display:none;
        }
        .lookFilled-1Gx00P.colorBrand-3pXr91{
            background-color: var(--background-primary);
            border-radius: 25px;

            &:hover{
                background-color: var(--background-secondary);
            }
        }
        .vz-dashboard-home-features-card {
            border-radius: 10px;
        }
        .vz-addon-card{
            background-color: var(--background-secondary-alt);
            border-radius: var(--border-radius);
            border: none;
            .vz-addon-card-icon{
                border-radius: var(--border-radius);
            }
        }
    }
}