.vz-dashboard{
    .vz-addon-card{
        border-radius: 100px;
        .vz-addon-card-icon-img{
            border-radius: 100px;
        }
        .vz-addon-card-footer-section-right > div{
            position: relative;
            right:50px;
            margin: 0;
        }
    }
    .vz-addons-list-sticky-bar-wrapper{
        border-radius: 50px;
        background-color: var(--background-tertiary);
        .topPill-30KHOu .item-PXvHYJ{
            border-radius: var(--border-radius);
        }
        .input-3Xdcic{
            background-color: var(--background-secondary-alt);
            border-radius: var(--border-radius);
            padding: 12px 6px;
        }
    }
    .vz-dashboard-home-features-card{
        border-radius: var(--border-radius);
    }
}
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG{
    border-radius: 25px;
    background-color: var(--background-secondary-alt);
}
.vz-dashboard-sidebar{
    background-color: var(--background-primary);
    margin-bottom: 20px;
    border-radius: var(--border-radius);
}
.layout-2DM8Md{
   border-radius: var(--border-radius);
}
.content-3QAtGj{
    line-height: 20px;
}