
// Guilds
.scroller-2TZvBN {
margin-top: 40px;
contain: none;
}

// Remove guild Separator
.guildSeparator-3s64Iy {display: none;}

// Background
.tutorialContainer-1v44GL {
    border-radius:var(--neb-border-radius1) 0 0 var(--neb-border-radius1);
    background: var(--background-primary);
    position: fixed;
    top: 22px;
    height:40px;
    width:52px;
    margin-left: var(--margin);
    z-index: 10;
    .childWrapper-anI2G9{
        border-radius: var(--neb-border-radius2);
        position: fixed;
        top:5px;
        height:30px;
    }
    .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9{
        background-color: var(--background-tertiary);
    }
    .pill-2uzAFe{
        display: none;
    }
}