
// Guilds
.wrapper-1Rf91z{
    left:15px;
    .scroller-2TZvBN {
        background-color: var(--background-primary);
        border-radius: var(--neb-border-radius1);
        margin:60px 0 20px 0;
        contain: none;
    }
}
.unreadMentionsIndicatorTop-gA6RCh{
    margin-left: var(--margin);
}

// Remove guild Separator
.guildSeparator-3s64Iy {display: none;}

// Background
.tutorialContainer-1v44GL {
    border-radius:var(--neb-border-radius1) 0 0 var(--neb-border-radius1);
    background: var(--background-primary);
    position: fixed;
    top: 22px;
    height:40px;
    width:75px;
    z-index: 10;
    .childWrapper-anI2G9{
        border-radius: var(--neb-border-radius2);
        background-color: transparent !important;
        position: fixed;
        top:5px;
        height:30px;
    }
    .pill-2uzAFe{
        display: none;
    }
}