.chat-3bRxxu{
    background-color: transparent;
    margin-right: var(--margin);
    .content-yTz4x3{
        .chatContent-a9vAAp{
            background-color: var(--background-primary);
            border-radius: var(--neb-border-radius1);
            margin: 0 0 var(--margin) var(--margin) ;
        }
        &:before{
            display: none;
        }
    }
}