.container-1r6BKw{
    border-radius: 0 var(--neb-border-radius1) var(--neb-border-radius1) 0;
    margin-bottom: var(--margin);
    height: var(--neb-topbar-height);
    .children-19S4PO{
        text-transform: capitalize;
        border-left: var(--neb-divider);
        z-index:101;
        .title-29uC1r{
            font-size: 18px;
        }
        .iconWrapper-2OrFZ1 svg{
            position: relative;
            color:var(--neb-white);
            margin-left: 6px;
        }
        &::after,
        .topic-TCb_qw,
        .divider-3FBTu8,
        .akaBadge-1M-1Gw,
        .nicknames-1XK4Zt{
            display: none;
        }
    }
    .toolbar-1t6TWx{
        padding-right: 125px;
        .iconWrapper-2OrFZ1[aria-label="Help"],
        .iconWrapper-2OrFZ1[aria-label="Start Video Call"],
        .iconWrapper-2OrFZ1[aria-label="Add Friends to DM"]{
            display: none;
        }
        .search-36MZv-{
            order:-1;
        }
    }
}
