.chatContent-a9vAAp{
    .form-2fGMdU{
        .scrollableContainer-2NUZem{
            border-radius: 50px;
        }
    }
    .wrapper-3WhCwL{
        color:var(--background-extra);
    }
    .mentioned-xhSam7:before{
        background-color: var(--background-mentioned-hover);
    }
}