.chatContent-a9vAAp{
    .form-2fGMdU{
        .scrollableContainer-2NUZem{
            border-radius: 30px;
        }
    }
    .wrapper-3WhCwL{
        color:var(--background-extra);
    }
    .mentioned-xhSam7:before{
        background-color: var(--background-mentioned-hover);
    }
    .textAreaWithoutAttachmentButton-qiaiTB{
        background-color: var(--background-tertiary);
        border-radius: 50px;
    }
}
.markup-2BOw-j code{
    border-radius: 20px;
    min-width: 200px;
}
.members-1998pB{
    margin-top: 60px;
    margin-bottom: 30px;
    border-radius:30px;
    margin-right: 10px;
}
.colorBrand-3pXr91:not(.buttonColor-7qQbGO)[aria-label="Open GIF picker"],
.colorBrand-3pXr91:not(.buttonColor-7qQbGO)[aria-label="Send a gift"]{
    display: none;
}
.container-2fRDfG{
    position: fixed;
    bottom:75px;
    border-radius: 30px;
}
.members-1998pB, .members-1998pB>div ::-webkit-scrollbar{
    position: relative;
    top:11px;
}
.jumpToPresentBar-G1R9s6{
    background-color: var(--background-secondary); 
    opacity: 1;
    border-radius: 30px;
    width:133px;
    padding:3px 1px;
    z-index: 0;
    height: 20px;
    left:760px;
    top:760px;
    position: relative;
}
.reactions-12N0jA div .reactionMe-wv5HKu .reactionCount-2mvXRV{
    color: white !important;
}
.reactions-12N0jA div .reactionMe-wv5HKu{
    background-color: var(--background-tertiary) !important;
}
.repliedMessage-VokQwo:before{
    border-color: white;
}