.content-3QAtGj, .name-uJV0GL,
.content-2M3n_H a,
.option-2Mjq18,
.selected-3s45Ha.item-PXvHYJ, .selected-3s45Ha.item-PXvHYJ:hover,
.info-3LOr12,
.name-23GUGE{
    color:var(--text-normal) !important;
}
.unread-2lAfLh,
.divider-3yU4s2 {
    background-color: var(--text-normal) !important;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6,
.jumpToPresentBar-G1R9s6 {
    background-color: var(--background-secondary);
}
.theme-dark .headerNormal-T_seeN {
    background-color: var(--background-primary);
}
.newMessagesBar-265mhP{
    background-color: var(--background-primary);
    border-bottom:solid 1px var(--background-secondary);
}
.jumpToPresentBar-G1R9s6{
    opacity: 1;
}