.theme-dark .uploadModal-2ifh8j {
    background-color: var(--background-primary) !important;
}
.theme-dark .footer-3mqk7D{
    background-color: var(--background-secondary);
}
.label-22pbtT,
.empty-2WtT5s,
.lookLink-9FtZy-.colorBrand-3pXr91{
    color:rgb(211, 211, 211) !important;
}
.theme-dark .root-1gCeng{
    background-color: var(--background-primary);
}
.theme-dark .footer-2gL1pp{
    background-color: var(--background-secondary);
}
.messageGroupWrapper-o-Zw7G,
.messagesPopoutWrap-1MQ1bW{
    border-radius: 10px;
}