.theme-dark .uploadModal-2ifh8j {
    background-color: var(--background-primary) !important;
}
.theme-dark .footer-3mqk7D{
    background-color: var(--background-secondary);
}
.label-22pbtT,
.empty-2WtT5s,
.lookLink-9FtZy-.colorBrand-3pXr91{
    color:rgb(211, 211, 211) !important;
}
.theme-dark .root-1gCeng,
.theme-dark .option-96V44q.selected-rZcOL-,
.theme-dark .focused-2bY0OD{
    background-color: var(--background-primary) !important;
}
.theme-dark .footer-2gL1pp,
.theme-dark .container-3ayLPN{
    background-color: var(--background-secondary) !important;
}
.messageGroupWrapper-o-Zw7G,
.messagesPopoutWrap-1MQ1bW{
    border-radius: 10px;
}
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j{
    height:200px !important;
    width:200px !important;
}
.theme-dark .body-2iXqIL,
.theme-dark .footer-2aTx0s{
    background-color: var(--background-secondary);
}
.theme-dark .option-96V44q:after{
    display:none;
}
.theme-dark .activeButton-rvKcqq, .theme-dark .activeButton-rvKcqq:hover, .theme-light .activeButton-rvKcqq, .theme-light .activeButton-rvKcqq:hover{
    background-color: var(--background-secondary);
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O),
.theme-dark .autocomplete-1vrmpx,
.theme-dark .message-2qRu38,
.theme-dark .contentWrapper-3WC1ID{
    background-color: var(--background-secondary) !important;
}
.lookInverted-2D7oAl.colorBrand-3pXr91{
    background-color: var(--background-secondary);
    border-radius: 30px;
}
.lookInverted-2D7oAl.colorBrand-3pXr91:hover,
.theme-dark .selected-1Tbx07{
    background-color: var(--background-tertiary);
}
.lookFilled-1Gx00P.colorWhite-rEQuAQ:disabled{
    background-color: var(--background-tertiary);
    border-radius: 3px;
}
.lookFilled-1Gx00P.colorGrey-2DXtkV:hover{
    background-color: var(--background-primary);
}
.grow-q77ONN, .sizeIcon-1-kvKI{
    border-radius: 20px;
}
.notice-2X5hT5{
    background-color: transparent;
    height:0px;
}
.header-1g25vm{
    position: relative;
    top:25px;
    left:157px;
    padding: 5px 10px;
    background-color: rgb(204, 43, 43);
    border-radius: 10px;
}
.back-1Ess-_{
    position: absolute;
    top:50px;
    height:28px;
    padding: 10px 10px;
    left:566px;
    border-radius: 10px;
    background-color: rgb(204, 43, 43);
    border: none;
}
.notice-2X5hT5{
    border:none;
    background-color: rgb(204, 43, 43);
}
.description-2L932D{
    display: none;
}
.menu-3sdvDG{
    border-radius: 20px;
 }
 .colorDefault-2K3EoJ.focused-3afm-j{
     border-radius: 30px;
   background-color: var(--background-primary);
 }