.theme-dark .uploadModal-2ifh8j {
    background-color: var(--background-primary) !important;
}
.theme-dark .footer-3mqk7D{
    background-color: var(--background-secondary);
}
.label-22pbtT,
.empty-2WtT5s,
.lookLink-9FtZy-.colorBrand-3pXr91{
    color:rgb(211, 211, 211) !important;
}
.theme-dark .root-1gCeng,
.theme-dark .option-96V44q.selected-rZcOL-,
.theme-dark .focused-2bY0OD{
    background-color: var(--background-primary) !important;
}
.theme-dark .footer-2gL1pp,
.theme-dark .container-3ayLPN{
    background-color: var(--background-secondary) !important;
}
.messageGroupWrapper-o-Zw7G,
.messagesPopoutWrap-1MQ1bW{
    border-radius: 10px;
}
.theme-dark .option-96V44q:after{
    display:none;
}
.theme-dark .activeButton-rvKcqq, .theme-dark .activeButton-rvKcqq:hover, .theme-light .activeButton-rvKcqq, .theme-light .activeButton-rvKcqq:hover{
    background-color: var(--background-secondary);
}
.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O),
.theme-dark .autocomplete-1vrmpx,
.theme-dark .message-2qRu38{
    background-color: var(--background-secondary) !important;
}
.lookInverted-2D7oAl.colorBrand-3pXr91{
    background-color: var(--background-primary);
}
.lookInverted-2D7oAl.colorBrand-3pXr91:hover,
.theme-dark .selected-1Tbx07{
    background-color: var(--background-tertiary);
}
.lookFilled-1Gx00P.colorWhite-rEQuAQ:disabled{
    background-color: var(--background-tertiary);
    border-radius: 15px;
}