 svg.slider-TkfMQL svg {
    display: none;
  }
  
  .container-3auIfb:not([style*="125"]) {
    background-color: var(--background-secondary-alt) !important;
  }
  .wrapper-2aW0bm,.button-1ZiXG9.selected-LCBEAU,.button-1ZiXG9,.powercord-snippet-apply:not(.applied) div:hover,.powercord-snippet-apply div  {
    border-radius: 24px !important;
    }
 /* Hide Textbox when you don't have permission */
.channelTextAreaDisabled-8rmlrp>div {
  display: none;
}
/* Center server name */
.name-3YKhmS{ text-align: center; }