.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG{
    background-color: var(--background-secondary-alt);
}
.theme-dark .pageWrapper-1PgVDX{
    background-color: var(--background-secondary);
}
.thin-1ybCId{
    border-right:solid 1px var(--background-secondary-alt);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV{
    background-color: var(--background-secondary-alt);
}
.contents-18-Yxp,
.sampleLink-2NLvZg,
.colorHeaderPrimary-26Jzh-{
    color:white;
}
.css-12hk9yc-control {
background-color: var(--background-tertiary);
}


.groupStart-23k01U.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j {
    border-top-left-radius: 0px;
}
.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
    background-color: rgb(56, 61, 104);
    display: inline-block;
    max-width: 460px;
    margin: 0;
    padding: 5px 10px ;
    border-radius: 15px;
    position: relative;
    overflow: visible;
}
.embedFull-2tM8--{
        padding:10px;
    border-radius: 10px;
}