.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG{
    background-color: var(--background-secondary-alt);
}
.theme-dark .pageWrapper-1PgVDX{
    background-color: var(--background-secondary);
}
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3{
    background-color: var(--background-secondary-alt);
}
.contents-18-Yxp,
.sampleLink-2NLvZg,
.colorHeaderPrimary-26Jzh-{
    color:white;
}
.css-12hk9yc-control {
background-color: var(--background-tertiary);
}
.searchResultsWrap-3-pOjs{
    position: relative;
    width:390px;
    top:50px;
    border-radius:20px;
    border-bottom:solid 15px var(--background-secondary);
    margin-bottom: 70px;
    margin-right: 109px;
}
.closeButton-1tv5uR{
    border-color: var(--background-extra) !important;
}
.theme-dark .keybind-KpFkfr{
    color:var(--background-extra);
}

.groupStart-23k01U.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j {
    border-top-left-radius: 0px;
}
/*Chat Bubbles*/
.cozyMessage-3V1Y8y .contents-2mQqc9 > .markup-2BOw-j:not(:empty) {
    background-color: #383d68;
    display: inline-block;
    max-width: 650px;
    margin: 0;
    padding: 5px 10px ;
    border-radius: 15px;
    position: relative;
    overflow: visible;
}
.embedFull-2tM8--{
        padding:10px;
    border-radius: 10px;
}
.side-8zPYf6 .item-PXvHYJ{
    border-radius: 30px;
}