.tabBody-3YRQ8W{
    .peopleColumn-29fq28{
        background-color: var(--background-secondary);
    }
    .wrapper-3D2qGf{
        background-color: var(--background-secondary-alt);
        box-shadow: 1px 1px 15px;
    }
    .wrapper-3D2qGf:hover{
        background-color: var(--background-secondary-alt);
    }
    .section-2gLsgF{
        background-color: var(--background-primary) !important;
    }
}