.tabBody-3YRQ8W{
    .peopleColumn-29fq28,
    .theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover{
        background-color: var(--background-secondary) !important;
    }
    .wrapper-3D2qGf{
        background-color: var(--background-secondary-alt);
        box-shadow: 1px 1px 15px;
    }
    .nowPlayingScroller-2XrVUt{
        margin-top: 15px;
    }
    .wrapper-3D2qGf:hover{
        background-color: var(--background-secondary-alt);
    }
    .section-2gLsgF{
        background-color: var(--background-primary) !important;
    }
}