.wordmarkWindows-1v0lYD{
    display:none;
}
.typeWindows-1za-n7{
    position: relative;
    top:17px;
}
.withFrame-haYltI{
    margin-top: -17px;
}
.winButton-iRh8-Z{
    background-color: var(--background-tertiary);
    padding:7px 1px;
    position: relative;
    top:7px;
    right:10px;
}
.winButton-iRh8-Z[aria-label="Minimize"]{
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
}
.winButton-iRh8-Z[aria-label="Close"]{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.winButton-iRh8-Z[aria-label="Minimize"]:hover{
    color:rgb(238, 255, 0);
    background-color: var(--background-tertiary);
}
.winButton-iRh8-Z[aria-label="Maximize"]:hover{
    background-color: var(--background-tertiary);
    color:rgb(34, 32, 173);
}
.winButtonClose-1HsbF-:hover{
    color:red;
    background-color: var(--background-tertiary);
}
.winButton-iRh8-Z:hover{
    transition-duration: 400ms;
}