.modal-3c3bKg{
    padding:0px;
 } 
 .inner-1ilYF7{
     position: relative;
     top:-1px;
     max-height:500px;
     }
     .root-SR8cQa{
        width:938px;
        border-radius:30px;
     }
     .topSectionPlaying-1J5E4n,{
         background-color: var(--background-primary);
     }
     .lookInverted-2D7oAl.colorBrand-3pXr91,
     .lookFilled-1Gx00P.colorGreen-29iAKY{
         background-color: var(--background-secondary-alt);
         border-radius: 15px;
     }
     .lookFilled-1Gx00P.colorGreen-29iAKY:hover{
         background-color: rgb(51, 54, 73);
     }
     .medium-2wqF9d{
         height:90px;
         width:90px;
         border-radius: 9px;
     }
     .tabBarItem-1b8RUP{
         font-size: 16px;
         margin-left: 30px;
     }
     .top-28JiJ-:last-child .item-PXvHYJ:last-child{
         margin-right:30px;
     }
     .activity-1ythUs{
         padding-left:15px;
         padding-bottom: 1px;
         padding-top:10px;
     }
     .note-QfFU8y textarea{
         background-color: var(--background-tertiary);
         border-radius: 30px;
         height:30px !important;
     }
     .userInfoSection-2acyCx{
         padding: 10px 0;
     }
     .tabBarContainer-1s1u-z{
         border-top:none;
     }

