.root-SR8cQa{
    border-radius: 30px;
    width:600px;
    max-height:700px;
 } 
 .topSectionPlaying-1J5E4n,
 .headerFill-adLl4x{
    background-color: var(--background-primary);
 }
 .textarea-2r0oV8{
    background-color: var(--background-tertiary);
 }