  $unread-badge: rgba(255, 255, 255, 0);
  $unread-bg: #0f1120;
  $selected-badge: #0f112000;
  $selected-bg: #0f11203d;
  $selected-bg-hover: #0f1120ad;
  $hovered-bg: #0f1120ab;
  $border-info: 4px solid;
  
  
  /* Badges */
  .modeSelected-346R90::before {
      content: "";
      position: absolute;
      border-left: $border-info $selected-badge;
      border-radius: 52px;
      height: 32px;
      top: 1px;
      left: 2px;
  }
  .channel-2QD9_O.selected-aXhQR6::before {
      content: "";
      position: absolute;
      border-left: $border-info $selected-badge;
      border-radius: 52px;
      height: 42px;
      top: 1px;
      left: -6px;
  }
  
  
  /* Selected Channel */
  .containerDefault--pIXnN .modeSelected-346R90 .content-1x5b-n,
  .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md {
      background: $selected-bg;
  
      &:hover {
          background: $selected-bg-hover;
      }
  }
  .containerDefault--pIXnN:hover .modeSelected-346R90 .content-1x5b-n {
      background: $selected-bg-hover;
  }
  
  
  /* Unread Channels */
  .containerDefault--pIXnN .modeUnread-1qO3K1 {
      .content-1x5b-n {
          background: $unread-bg;
      }
      
      .unread-2lAfLh {
          background: $unread-badge;
          border-radius: 52px;
          height: 32px;
          top: 5px;
          left: 2px;
      }
      
      .name-23GUGE {
          color: rgba(255, 255, 255, 0.75);
      }
      &:hover .name-23GUGE {
          color: rgba(255, 255, 255, 1);
      }
  }
  
  
/* Hovering on channels */
.containerDefault--pIXnN .modeUnread-1qO3K1 .content-1x5b-n:hover,
.containerDefault--pIXnN:hover .modeUnread-1qO3K1 .content-1x5b-n,
.channel-2QD9_O:not(.selected-aXhQR6) .layout-2DM8Md:hover {
      background: $hovered-bg;
}
.circleIconButton-jET_ig{
    color:white;
}
.circleIconButton-jET_ig.selected-ugP_am,
.childWrapper-anI2G9{
    background-color: var(--background-secondary-alt) !important;
}
.content-3QAtGj, .name-uJV0GL{
    color: var(--background-extra);
}
.channel-2QD9_O{
    border-radius: 10px;
    max-width: 276px;
}
.sidebar-2K8pFh{
    width:300px;
    border-radius: 0px !important;
    
 }
 .animatedContainer-1NSq4T, .bannerImage-3KhIJ6{
     width: 300px;
 }
 .scroller-RmtA4e{
     margin-bottom: 10px;
 }
 .layout-2DM8Md{
     transition-duration: 200ms;
     border-radius: 10px;
     width:260px;
 }
 .panels-j1Uci_{
     position: relative;
     bottom:10px;
     border-radius: 12px;
     margin: 0 6px;
 }

 .searchBar-6Kv8R2 .searchBarComponent-32dTOx{
     border-radius: 30px;
 }
 .hoverRoll-YK53gQ{
     display: none;
 }
 .name-23GUGE{
     text-transform: capitalize;
 }
