.iconWrapper-2OrFZ1:last-child,
.iconWrapper-2OrFZ1[aria-label="Start Video Call"],
.iconWrapper-2OrFZ1[aria-label="Inbox"],
.iconWrapper-2OrFZ1[aria-label="Direct Message"],
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.topic-TCb_qw{
    display:none;
}
.toolbar-1t6TWx{
    position: relative;
    right:0px;
    z-index: 10;
    padding-left:5px;
    padding-right:5px;
    display:flex;
    flex-direction: row-reverse;
}
.searchBar-3dMhjb{
    display: flex;
    flex-direction: row-reverse;
}
/* Compressed Search Bar */
.search-2oPWTC .searchBar-3dMhjb {width:150px;transition-duration:600ms;}
.search-2oPWTC .searchBar-3dMhjb:hover {width:150px !important;}
.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb {width: 150px !important;}

.children-19S4PO{
    position: fixed;
    left:84px;
    max-width: 235px;
    padding-right:145px;
   }
   .icon-22AiRD{
       color:var(--interactive-normal);
   }
   .title-29uC1r{
       font-size: 20px;
       margin: 0 4px 0 0;
       text-transform: capitalize;
   }
   .divider-3FBTu8{
       display: none;
   }
   .theme-dark .children-19S4PO:after{
       display:none;
   }