.container-1r6BKw.themed-ANHk51{
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    top:0px;
}
.children-19S4PO{
    background-color: var(--background-tertiary);
    flex: 0 0 auto;
    border-radius: 30px;
    padding: 5px 3px;
    padding-left:10px;
    max-width: auto;
  }
  .channelName-qsg_a_{
    max-width: 300px;
}

.search-2oPWTC .searchBar-3dMhjb {width:93px;transition-duration:600ms;}
.search-2oPWTC .searchBar-3dMhjb:hover {width:110px !important;}
.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb {width: 210px !important;}

.toolbar-1t6TWx{
      position: fixed;
      right:110px;
      background-color: var(--background-tertiary);
      border-radius: 30px;
      padding:7px 2px;
  }
  .nicknames-1XK4Zt{
      padding-right:5px;
  }
  .searchBar-3dMhjb{
      position: relative;
      left:4px;
      top:0.5px;
      background-color: var(--background-secondary);
      border-radius: 30px;
  }

  .size16-1P40sf{
      font-size:20px;
      text-transform: capitalize;
  }
.content-yTz4x3{
    margin-top: -48px;
 }
 .content-yTz4x3:before,
 .topic-TCb_qw,
 .divider-3FBTu8,
 .children-19S4PO:after,
 .iconWrapper-2OrFZ1[aria-label="Announcement Channel"],
 .iconWrapper-2OrFZ1[aria-label="Inbox"],
 .iconWrapper-2OrFZ1:last-child{
    display: none;
}